.main{
    height: 100vh;
    background-color: var(--primary--background);
    background-image: url("images/Rectangle 5.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 60px;
}
.navber{
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
}
.banner-item h1{
    color: var(--primary-font-color);
    text-align: center;
    
}
.logo{
    width: 107.28px;
    height: 20px;
    /* padding:107.28px; */
}
